NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173

OPENAI_API_KEY=open-api-key
OPENAI_LLM=generation-model
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_EMBEDDING_DIMENSIONS=1536

MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net
MONGODB_DB=genai_rag

RAG_VECTOR_INDEX=rag_vector_index
RAG_TOP_K=7
RAG_NUM_CANDIDATES=100
RAG_EMBEDDING_BATCH_SIZE=64
